//colors
$offwhite: #f7f7f7;
$gray: #ccc;
$red: #E67878;
$headline-color: $red;

//spacing
$sheet-width: 1000px;

//typography
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-headline: 10vw;